<div *ngIf="existePlanos.length == 0">
  <h3 class="text-center"> Añadir Planos Hogar</h3>
  <div class="col-md-2"></div>

  <div class="col-md-8 jumbotron">
    <form>
      <!-- Seleccionar datos vivienda -->
      <div class="form-group col-md-4">
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre hogar ..." (change)="setNameHome($event.target.value)" required>

          <div>
            <label>Adjuntar planos</label>
            <div class="form-group">
              <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
            </div>
          </div>

      </div>

      <!-- Visualizacion fichero a subir -->
      <div class="col-md-8">
        <p>Archivos: {{ uploader?.queue?.length }}</p>

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Archivo</th>
            <th>Tamaño</th>
            <th>Progreso</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">

            <td><strong>{{ item?.file?.name }}</strong></td>

            <td  nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>

            <td >
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>

            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>

            <td nowrap>
              <a (click)="item.remove()" style="cursor: pointer;color: #000000"><i class="glyphicon glyphicon-remove"></i></a>
            </td>

          </tr>
          </tbody>
        </table>

        <div>
          <div>
            Progreso
            <div class="progress" style="">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
        </div>

      </div>

      <!-- Boton confirmacion -->
      <div class="col-md-12">
        <button type="button" class="btn btn-success btn-s"
                (click)="saveDataHome()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Añadir
        </button>
      </div>

    </form>

  </div>
  <div class="col-md-2"></div>

</div>
