<div align="center">
  <h3>Datos de la Estación</h3>

  <!-- DATOS ESTACION Y LOCAL -->
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div *ngIf="dataStation">
      <h3>{{dataStation.variables.nombre}}</h3>
      <hr>
      <p class="text-left" style="padding-left: 50px"><b>Temperatura:</b> {{dataStation.variables.temperatura}}</p>
      <p class="text-left" style="padding-left: 50px"><b>Humedad:</b> {{dataStation.variables.humedad}}</p>
      <p class="text-left" style="padding-left: 50px"><b>Fecha:</b> {{fecha}}</p>
    </div>
    <div *ngIf="!dataStation">
      <h3>La estación no esta conectada</h3>
      <hr>
      <p>La estación no se encuentra conectada a la red o tiene algun problema de funcionamiento ... </p>
    </div>
  </div>
  <div class="col-md-4" *ngIf="localWheather">
    <div>
      <h3>Temperatura Local</h3>
      <hr>
      <p class="text-left" style="padding-left: 50px"><b>Población:</b> {{localWheather[0].nombre}}</p>
      <p class="text-left" style="padding-left: 50px"><b>Temperatura Max:</b> {{localWheather[0].prediccion.dia[0].temperatura.maxima}}</p>
      <p class="text-left" style="padding-left: 50px"><b>Temperatura Min:</b> {{localWheather[0].prediccion.dia[0].temperatura.minima}}</p>
      <p class="text-left" style="padding-left: 50px"><b>Humedad Max:</b> {{localWheather[0].prediccion.dia[0].humedadRelativa.maxima}}</p>
      <p class="text-left" style="padding-left: 50px"><b>Humedad Min:</b> {{localWheather[0].prediccion.dia[0].humedadRelativa.minima}}</p>
    </div>
  </div>
  <div class="col-md-2"></div>

   <!-- FILTRAR POR FECHAS -->
  <div class="col-md-12 center-block">
     <form (change)="setDataChart($event.target.value)" id="dateTemperature" class="form-inline">
       <div class="form-group">
         <label for="date-temperature">Fecha: </label>
         <input type="date" id="date-temperature" class="form-control mx-sm-3">
       </div>
     </form>
  </div>

  <div class="col-md-12 center-block">
    <h4>{{tituloGrafica}}</h4>
  </div>
  <!-- GRAFICAS -->
  <!-- GRAFICA TEMPERATURA -->
  <div class="col-md-6" align="center" *ngIf="chartVariables.lineChartDataTemperature">
      <div style="display: block;">
        <canvas id="myChart" baseChart width="848" height="424"
                [datasets]="chartVariables.lineChartDataTemperature"
                [labels]="chartVariables.lineChartLabels"
                [options]="chartVariables.lineChartOptionsTemperature"
                [colors]="chartVariables.lineChartColorsTemperature"
                [legend]="chartVariables.lineChartLegend"
                [chartType]="chartVariables.lineChartType">
        </canvas>
      </div>
  </div>

  <!-- GRAFICA HUMEDAD -->
  <div class="col-md-6" align="center" *ngIf="chartVariables.lineChartDataHumidity">
    <div style="display: block;">
      <canvas baseChart width="848" height="424"
              [datasets]="chartVariables.lineChartDataHumidity"
              [labels]="chartVariables.lineChartLabels"
              [options]="chartVariables.lineChartOptionsHumidity"
              [colors]="chartVariables.lineChartColorsHumidity"
              [legend]="chartVariables.lineChartLegend"
              [chartType]="chartVariables.lineChartType">
      </canvas>
    </div>
  </div>

<!-- TABLA HISTORIAL -->
  <div *ngIf="historial" class="col-md-12 center-block" style=" margin-top: 30px;">
    <button class="btn btn-sm btn-info " (click)="changeVisibility()">Mostrar/Ocultar historial completo</button>
    <table [hidden]="ocultar" class="table table-responsive table-sm table-hover" style="width: 50%">
      <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th class="text-center" scope="col">Temperatura</th>
        <th class="text-center" scope="col">Humedad</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of historial">
        <th  id="time" scope="row">{{item.fecha}}</th>
        <td class="text-center">{{item.temperatura}}</td>
        <td class="text-center">{{item.humedad}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
