/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 50px;
}

.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}
.btn-outline-info:hover {
  color: #ffffff;
  background-color: #17a2b8;
  background-image: none;
  border-color: #17a2b8;
}

